<%= render 'shared/title', title: "Rechner" %>

<%= form_with(model: @question, url: questions_path(@question), class: "form") do |f| %>
  <div class="form__item">
    <%= f.label :rente_estimate, "Wie hoch schätzen Sie Ihren monatlichen Bedarf als Rentner/in (Wohnungskosten, Versorgung, etc.)?", :class=> "form__label" %>
    <%= f.text_field :rente_estimate, :class=>"form__input", :id=>"rente_estimate_input" %>
    <input type="range" min="100" max="5000" value="1000" class="slider" id="slider_r_estimate">
  </div>



  <div class="form__item">
    <p class="form__label">Welche Art von Beschäftigungsverhältnis liegt vor?</p>
    <div class="form__input">
      <%= f.label :rente_art, "abhängig beschäftigt", :value => "0", :class=> "checkbox__label" do %>abhängig beschäftigt
          <%= f.radio_button :rente_art, "abhängig beschäftigt", :checked => true, :class => "radiobutton__input" %>
          <span class="checkbox__click">
            <span class="checkbox__tick"></span>
          </span>
        <% end %>
        <%= f.label :rente_art, "selbstständig", :value => "1", :class=> "checkbox__label" do %>selbstständig
          <%= f.radio_button :rente_art, "selbstständig", :checked => false, :class => "radiobutton__input" %>
          <span class="checkbox__click">
            <span class="checkbox__tick"></span>
          </span>
        <% end %>
      </div>
  </div>

  <div class="form__item">
      <%= f.label :rente_start, "In welchem Jahr haben Sie das erste Mal gearbeitet?", :class=> "form__label" %>
      <%= f.text_field :rente_start, :class=> "form__input" %>
    </div>

  <div class="form__item">
      <%= f.label :rente_dauer, "Welches Geburtsjahr?", :class=> "form__label" %>
      <%= f.text_field :rente_dauer, :class=> "form__input" %>
    </div>

  <div class="form__item">
      <%= f.label :rente_eink, "Wie hoch ist ihr Jahresbruttogehalt?", :class=> "form__label" %>
      <%= f.text_field :rente_eink, :class=> "form__input" %>
    </div>
  <%=  %>

  <div class="form__item">
      <%= f.label :rente_reg, "Leben Sie in Ost- oder Westdeutschland?", :class=> "form__label" %>
      <%= f.select :rente_reg, f.options_for_select(
        [
          ['Ostdeutschland', 0, { 'data-size' => '31.89' }],
          ['Westdeutschland', 1, { 'data-size' => '33.05' }]
          ],
      ), {}, { :class=> "form__input" }
      %>
    </div>

    <div class="form__item">
      <%= f.label :rente_kinder, "Wieviele Kinder haben Sie?", :class=> "form__label" %>
      <%= f.text_field :rente_kinder, :class=> "form__input"  %>
    </div>

    <div class="form__item">
      <%= f.label :rente_kinder_gebjahr, "In welchem Jahr geboren?", :class=> "form__label" %>
      <%= f.text_field :rente_kinder_gebjahr, :class=> "form__input" %>
    </div>

    <div class="form__item">
      <%= f.label :rente_betrieb, "Haben Sie sich für eine betriebliche Rente qualifiziert (z.B. VBL)?", :class=> "form__label" %>
      <%= f.select :rente_betrieb, f.options_for_select(
          [
            ['Nein', 0, { 'data-size' => '0' }],
            ['Ja', 1, { 'data-size' => '1' }]
          ], 2
        ), {}, {:class=> "form__input"}
      %>
    </div>

    <%= f.submit "Zum Ergebnis", :class=> "form__submit button" %>

  <% end %>

<!-- </dialog> -->
