<%= render 'shared/title', title: "Ergebnis" %>

<h2 class="tooltippy" data-tippy-content="Tooltip">Show</h2>

    <ul>
        <li>test</li>
        <li><%= @question.rente_estimate %></li>
        <li><%= @question.rente_art %></li>
        <li><%= @question.rente_start %></li>
        <li><%= @question.rente_dauer %></li>
        <li><%= @question.rente_eink %></li>
        <li><%= @question.rente_reg %></li>
        <li><%= @question.rente_kinder %></li>
        <li><%= @question.rente_kinder_gebjahr %></li>
        <li><%= @question.rente_betrieb %></li>
    </ul>

<p>Hilfsvariable 1: <%= @hilfsvar1 %>  (rente_vwerwerbsjahre)</p>
<p>Hilfsvariable 2: <%= @hilfsvar2 %>  (rente_vreg)</p>
<p>Hilfsvariable 3: <%= @hilfsvar3 %> (rente_ventgeltpunkte)</p>
<p>Hilfsvariable 4: <%= @hilfsvar4 %> (rente_VBisZurRente )</p>
<p>Hilfsvariable 5: <%= @hilfsvar5 %> (rente_vBenoetigt )</p>
<br>
<p>Rente = Erwerbspunkte (EP) * Rentenwert (RW) * Erwerbsjahre</p>
<p>(1/3) Formel für Rentenberechnung</p>
<p>Rente heute = VEntgeltpunkte*Vreg*VErwerbsjahre = <%= @rente_heute %></p>
<p>(2/3) Formel für Hochrechnung</p>
<p>Hochrechnung = Rente heute + VEntgeltpunkte*Vreg* VbiszurRente = <%= @rente_hochrechnung %></p>
<p>Hochrechnung mit Rentenanpassung= Rente heute + VEntgeltpunkte*Vreg*1.01(Vgebjahr + 67)-(Folgejahr)*VbiszurRente = <%= @rente_hochrechnungMitAnpassung %></p>
<p>Fiktive Rente = VBenötigt*Vreg*VErwerbsjahre = <%= @rente_fiktiv  %></p>
<p>Notwendiges Gehalt = ((VBenötigt*100)*Jahresbrutto)/100 = <%= @rente_notwendig %></p>
<p>Notwendige Jahre = (Vestimate/VEntgeltpunkte* Vreg)-(VErwerbsjahre + VbiszurRente) = <%= @rente_notwendigJahre %></p>
