<div class="main_container">
    <%= render 'shared/title', title: "Login" %>
    <div class="content_container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form") do |f| %>

        <div class="form__item">
          <%= f.label :rente_email, "E-Mail", :class=> "form__label" %>
          <%= render 'shared/icons/icon-help', tooltip: "icon-help__rente_email" %>
          <div class="form__inputs">
            <%= f.email_field :rente_email, :class=>"form__input", :id=>"rente_email_input", autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <hr class="break">


        <div class="form__item">
          <%= f.label :rente_password, "Passwort-Eingabe", :class=> "form__label" %>
          <%= render 'shared/icons/icon-help', tooltip: "icon-help__rente_password" %>
          <div class="form__inputs">
            <%= f.password_field :rente_password, :class=>"form__input", :id=>"rente_password_input", autocomplete: "current-password" %>
          </div>
        </div>

        <hr class="break">


        <% if devise_mapping.rememberable? %>
          <div class="form__item">
            <%= f.label :rente_remember_me, "Merken?" %>
            <%= render 'shared/icons/icon-help', tooltip: "icon-help__rente_remember_me" %>
            <div class="form__inputs">
              <%= f.check_box :rente_remember_me, :class=>"form__input", :id=>"rente_remember_me_input" %>
            </div>
          </div>
        <% end %>

        <hr class="break">
        <%= f.submit "Zum Ergebnis", :class=> "form__submit button" %>
      <% end %>
      <%= render "users/shared/links" %>
  </div>
</div>

