<%= render "layouts/intro" %>
<%= render "shared/intro_carousel" %>
<%= yield :page_scripts %>
<div class="main_container">
    <div class="content_container">
      <h2>Errechnen Sie in den nächsten 3 Minuten Ihre Rente!!!</h2>
      <%= render("service_table") %>
      <br>
      <h3><%= current_user.email if user_signed_in? %></h3>
      <%= render('posts_teaser') %>
    </div>
</div>
