<%= yield :page_scripts %>

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner intro-slide">
              <div class="carousel-item active">
                <p class="carousel__text">Fragen der zukünftigen Alterssicherung?</p>
              </div>
              <div class="carousel-item">
                <p class="carousel__text">Wir bieten digitale Lösungen für individuelle Informationsbarrieren im Vorsorgebereich</p>
              </div>
              <div class="carousel-item">
                <p class="carousel__text">Entscheidungshilfen auf Basis neuster wissenschaftlicher Kenntnisse</p>
              </div>
              <div class="carousel-item">
                <p class="carousel__text">Etablierung von Finanz- und Vorsorgekompetenzen</p>
              </div>
              <div class="carousel-item">
                <p class="carousel__text">Ein mehrsprachiges Beratungstool, das Menschen in ihrem Vorsorgeverhalten berät</p>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>



<section>
    <ul class="intro">
        <li class="intro__item">
            <%= image_pack_tag "baseline-accessibility_new-24px.svg", :class => 'icon' %>
            <p class="icon__title"></p>
            <p class="icon__text"></p>
        </li>
        <li class="intro__item">
            <%= image_pack_tag "baseline-assessment-24px.svg", :class => 'icon' %>
            <p class="icon__title"></p>
            <p class="icon__text"></p>
        </li>
         <li class="intro__item">
            <%= image_pack_tag "baseline-check_circle-24px.svg", :class => 'icon' %>
            <p class="icon__title"></p>
            <p class="icon__text"></p>
        </li>
        <li class="intro__item">
            <%= image_pack_tag "baseline-extension-24px.svg", :class => 'icon' %>
            <p class="icon__title"></p>
            <p class="icon__text"></p>
        </li>
    </ul>
</section>
<div class="nav-slide">
  <div class="nav-slide__buttonbox">
    <a class="link link--nav-slide" href="#"><h2>tool</h2></a>
    <a class="link link--nav-slide" href="#"><h2>blog</h2></a>
    <div class="nav-slide__hamburger">
      <div class="line line--nav-slide"></div>
      <div class="line line--nav-slide"></div>
      <div class="line line--nav-slide"></div>
    </div>
  </div>
  <div class="nav-slide__item active">
    <div class="mask"></div>
    <%= image_pack_tag "blonde-blur-casual-761977-700.jpg", :class => 'nav-slide__image' %>
    <div class="nav-slide__textbox">Deine Zukunft beginnt hier!</div>
  </div>
  <div class="nav-slide__item">
    <div class="mask"></div>
    <%= image_pack_tag "antique-encyclopedia-knowledge-24576-700.jpg", :class => 'nav-slide__image' %>
    <div class="nav-slide__textbox">Warum, was, wie?</div>
  </div>
  <div class="nav-slide__item">
    <div class="mask"></div>
    <%= image_pack_tag "opt_photo-of-person-using-laptop-700.jpg", :class => 'nav-slide__image' %>
    <div class="nav-slide__textbox">Rentenrechner</div>
  </div>
</div>

<section class="sidebar">
  <div class="sidebar__element"><h2>Link 1</h2></div>
  <div class="sidebar__element"><h2>Link 2</h2></div>
</section>