
<div class="intro-slide">
  <!--<div class="intro-slide__buttonbox">
    <a class="link link--intro-slide" href="#"><h2>tool</h2></a>
    <a class="link link--intro-slide" href="#"><h2>blog</h2></a>

    <div class="intro-slide__hamburger">
      <div class="line line--intro-slide"></div>
      <div class="line line--intro-slide"></div>
      <div class="line line--intro-slide"></div>
    </div>
  </div> -->
  <div class="intro-slide__item active">
    <div class="mask"></div>
    <%= image_pack_tag "blonde-blur-casual-761977-700.jpg", :class => 'intro-slide__image' %>
    <div class="intro-slide__textbox">Deine Zukunft beginnt hier!</div>
  </div>
  <div class="intro-slide__item">
    <div class="mask"></div>
    <%= image_pack_tag "antique-encyclopedia-knowledge-24576-700.jpg", :class => 'intro-slide__image' %>
    <div class="intro-slide__textbox">Warum, was, wie?</div>
  </div>
  <div class="intro-slide__item">
    <div class="mask"></div>
    <%= image_pack_tag "opt_photo-of-person-using-laptop-700.jpg", :class => 'intro-slide__image' %>
    <div class="intro-slide__textbox">Rentenrechner</div>
  </div>
</div>

<!--<section class="sidebar">
  <%= link_to 'Home', root_path, :class => 'sidebar__element' %>
  <%= link_to 'Infos', posts_path, :class => 'sidebar__element' %>
  <%= link_to 'Online-Assistenten', rechner_path, :class => 'sidebar__element' %>
  <%= link_to 'Mehr erfahren', rechner_path, :class => 'sidebar__element' %>
  <%= link_to 'Impressum', impressum_path, :class => 'sidebar__element' %>
</section> -->