
<div class="nav-slide">
  <div class="nav-slide__buttonbox">
    <a class="link link--nav-slide" href="#"><h2>tool</h2></a>
    <a class="link link--nav-slide" href="#"><h2>blog</h2></a>
    <div class="nav-slide__hamburger">
      <div class="line line--nav-slide"></div>
      <div class="line line--nav-slide"></div>
      <div class="line line--nav-slide"></div>
    </div>
  </div>
  <div class="nav-slide__item active">
    <div class="mask"></div>
    <%= image_pack_tag "blonde-blur-casual-761977-700.jpg", :class => 'nav-slide__image' %>
    <div class="nav-slide__textbox">Deine Zukunft beginnt hier!</div>
  </div>
  <div class="nav-slide__item">
    <div class="mask"></div>
    <%= image_pack_tag "antique-encyclopedia-knowledge-24576-700.jpg", :class => 'nav-slide__image' %>
    <div class="nav-slide__textbox">Warum, was, wie?</div>
  </div>
  <div class="nav-slide__item">
    <div class="mask"></div>
    <%= image_pack_tag "opt_photo-of-person-using-laptop-700.jpg", :class => 'nav-slide__image' %>
    <div class="nav-slide__textbox">Rentenrechner</div>
  </div>
</div>

<section class="sidebar">
  <%= link_to 'Home', root_path, :class => 'sidebar__element' %>
  <%= link_to 'Infos', posts_path, :class => 'sidebar__element' %>
  <%= link_to 'Online-Assistenten', rechner_path, :class => 'sidebar__element' %>
  <%= link_to 'Mehr erfahren', rechner_path, :class => 'sidebar__element' %>
  <%= link_to 'Impressum', impressum_path, :class => 'sidebar__element' %>
</section>
    
    <%
=begin%>
 <nav >
      <div class="nav_hamburger">
        <div class="line line--nav"></div>
        <div class="line line--nav"></div>
        <div class="line line--nav"></div>
      </div>
      <div class="nav_header">
        <%= image_pack_tag "FinalIconTransparent.png", :class => 'nav__image' %>
        <h1 class="nav__title">Rentenrechner</h1>
      </div>
      <div class="nav_container" show="false">
        <div class="nav-item">
           <%= link_to 'Home', root_path, :class => 'nav__link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Infos', posts_path, :class => 'nav__link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Online-Assistenten', rechner_path, :class => 'nav__link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Mehr erfahren', rechner_path, :class => 'nav__link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Impressum', impressum_path, :class => 'nav__link' %>
        </div>
      </div>
    </nav>
 
<%
=end%>
