    <nav >
      <div class="nav_hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <div class="nav_header">
        <%= image_pack_tag "FinalIconTransparent.png", :class => 'nav__image', :size => "115x99" %>
        <h1 class="nav__title">Rentenrechner</h1>
      </div>
      <div class="nav_container" show="false">
        <div class="nav-item">
           <%= link_to 'Home', root_path, :class => 'nav__link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Infos', posts_path, :class => 'nav__link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Online-Assistenten', rechner_path, :class => 'nav__link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Mehr erfahren', rechner_path, :class => 'nav__link' %>
        </div>
        <div class="nav-item">
            <%= link_to 'Impressum', impressum_path, :class => 'nav__link' %>
        </div>
      </div>
    </nav>

