<!DOCTYPE html>
<html>
  <head>
    <title>Renteninfo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-page="<%= @body_page_name %>">
    <%= render 'layouts/nav' %>
    <p id="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
